p {
	display: inline-block;
	color: white;
}

span {
	color: white;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0;
}

.bus {
	display: inline-block;
	width: 50%;
	margin-top: 1%;
	background: mistyrose;
	text-align: center;
}
