span {
	color: white;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0;
}

li.bus::before{
	content: "Route " attr(data-route) " Position " attr(data-pos);
	color: white;
	display: inline-block;
	height: 2em;
}

.bus {
	display: inline-block;
	width: 50%;
	margin-top: 1%;
	background: mistyrose;
	text-align: center;
	padding-top: 1%;
}
